html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 55px;
}

div#app {
    height: 100%;
}

main:not(.public) {
    padding-left: 320px;
}

.navbar {
    z-index: 1036;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.sidebar-principal {
    padding-top: 55px;
}

.user-navbar {
    position: absolute;
    right: 0;
}

.groups {
    display: flex;
    justify-content: stretch;
    margin-top: 50px;
    margin-right: 50px;
}

.group {
    margin-left: 50px;
    flex: 1;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}

.list-group-item-dark.list-group-item-action.router-link-exact-active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21;
}

.login-form form {
    width: 100%;
    max-width: 500px;
}

body.swal2-height-auto {
    height: inherit !important;
}

@media all and (max-width: 576px) {
    main:not(.public) {
        padding-left: 0;
    }
}
