<template>
    <div>
        <Header></Header>
        <main>
            <div class="container-fluid pt-3">
                <b-breadcrumb :items="itemsBread"></b-breadcrumb>
                <b-container fluid class="my-4">
                    <b-row>
                        <b-col>
                            <h1>Administradores</h1>
                        </b-col>
                        <b-col class="text-right">
                            <b-button variant="secondary" @click="agregar()">
                                <font-awesome-icon icon="plus" /> Agregar
                            </b-button>
                        </b-col>
                    </b-row>
                </b-container>
                <b-table
                    :items="tableItems"
                    :fields="tableFields"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :busy="busy"
                    striped
                    bordered
                    head-variant="dark"
                    responsive="sm"
                >
                    <template v-slot:table-busy>
                        <div class="text-center text-danger my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                    </template>

                    <!-- A custom formatted column -->
                    <template v-slot:cell(imagen)="data">
                        <b-img center fluid thumbnail :src="`uploads/movies/${data.value}`" :alt="data.item.nombre" style="max-width: 80px" />
                    </template>

                    <template v-slot:cell(activo)="data">
                        {{ data.value === true ? 'Activo' : 'Inactivo' }}
                    </template>

                    <template v-slot:cell(opciones)="data">
                        <div class="text-center">
                            <b-button v-b-tooltip.hover title="Editar" squared size="sm" @click="edit(data.item)" variant="outline-secondary" class="mr-1">
                                <font-awesome-icon icon="edit" />
                            </b-button>
                            <b-button v-b-tooltip.hover title="Eliminar" squared size="sm" @click="del(data.item)" variant="outline-secondary" class="mr-1">
                                <font-awesome-icon icon="trash" />
                            </b-button>
                        </div>
                    </template>
                </b-table>
            </div>
        </main>
        <ModalUser />
    </div>
</template>

<script>
    import Header from '../components/Header.vue'
    import ModalUser from '../components/ModalUser'
    import axios from 'axios'

    export default {
        name: 'Administradores',
        components: {
            Header,
            ModalUser
        },
        data() {
            return {
                busy: true,
                itemsBread: [
                    {
                        text: 'Home',
                        to: { name: 'home' },
                        active: false
                    },
                    {
                        text: 'Administradores',
                        to: { name: 'administradores' },
                        active: true
                    }
                ],
                sortBy: 'age',
                sortDesc: false,
                tableFields: [
                    {
                        key: 'id',
                        label: 'ID',
                        sortable: true
                    },
                    {
                        key: 'name',
                        label: 'Nombre',
                        sortable: true
                    },
                    {
                        key: 'email',
                        label: 'Email',
                        sortable: true
                    },
                    {
                        key: 'opciones',
                        label: 'Opciones',
                        sortable: false
                    }
                ],
                tableItems: []
            }
        },
        created() {
            this.administradores()
            this.$bus.$on('loadAdministradores', () => {
                this.administradores()
            });
        },
        methods: {
            edit(row) {
                this.$bus.$emit('openModalUser', row)
            },
            del(row) {
                this.$swal.fire({
                    title: '¿Estás seguro que deseas eliminar el usuario?',
                    text: "Está acción no es reversible.",
                    icon: 'warning',
                    showCancelButton: true,

                    confirmButtonText: 'SI, eliminar!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete(`${this.$root.$apiURL}users/delete/${row.id}`, {
                            headers: { Authorization: `Bearer ${localStorage.getItem('token')}` }
                        }).then(res => {
                            if (res.data) {
                                this.administradores()
                                this.$root.$toast('success', 'Usuario eliminado!', 'top-end')
                            } else {
                                this.$swal('Ocurrio un error al eliminar el usuario.')
                            }
                        }).catch(() => {
                            this.$swal('Ocurrio un error al eliminar el usuario.')
                        })
                    }
                })
            },
            agregar() {
                this.$bus.$emit('openModalUser', {})
            },
            administradores() {
                this.busy = true
                axios.get(`${this.$root.$apiURL}users/get`, {
                    headers: { Authorization: `Bearer ${localStorage.getItem('token')}` }
                }).then(res => {
                    if (res.data) {
                        this.tableItems = res.data.data
                    } else {
                        this.$swal('Ocurrio un error al obtener los turnos.')
                    }
                }).catch(() => {
                    this.$swal('Ocurrio un error al obtener los turnos.')
                }).finally(() => {
                    this.busy = false
                })
            }
        }
    }

</script>
