<template>
    <div>
        <Header></Header>
        <main>
            <div class="container-fluid pt-3">
                <b-breadcrumb :items="itemsBread"></b-breadcrumb>
            </div>
        </main>
    </div>
</template>

<script>
    import Header from '../components/Header.vue'

    export default {
        name: 'Home',
        components: {
            Header
        },
        data() {
            return {
                itemsBread: [{
                    text: 'Dashboard',
                    to: {
                        name: 'home'
                    },
                    active: true
                }],
            }
        },
        created() {

        },
        methods: {
            
        }
    }

</script>
