<template>
    <div class="login-form h-100">
        <main class="public h-100">
            <b-container class="h-100">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <b-form @submit.prevent="onSubmit" @reset="onReset" class="bg-dark p-5 rounded-lg text-white">
                        <h1>Iniciar sesión</h1>
                        <small v-if="errors && errors['general']" class="text-danger">
                            <font-awesome-icon icon="exclamation-circle" />
                            {{errors['general']}}
                        </small>
                        <b-form-group id="input-group-1" label="Email:" label-for="input-1">
                            <b-form-input v-model="model.email" type="email" required placeholder="Escribe tu email" />
                            <small v-if="errors && errors['email']" class="text-danger">
                                <font-awesome-icon icon="exclamation-circle" />
                                {{errors['email'][0]}}
                            </small>
                        </b-form-group>

                        <b-form-group id="input-group-2" label="Contraseña:" label-for="input-2">
                            <b-form-input v-model="model.password" type="password" required
                                placeholder="Escribe tu contraseña" />
                            <small v-if="errors && errors['password']" class="text-danger">
                                <font-awesome-icon icon="exclamation-circle" />
                                {{errors['password'][0]}}
                            </small>
                        </b-form-group>

                        <b-button type="submit" variant="secondary">Submit</b-button>
                        <b-button type="reset" variant="light">Reset</b-button>
                    </b-form>
                </div>
            </b-container>
        </main>
        <b-overlay :show="busy" rounded :fixed="true" :no-wrap="true" opacity="0.8" bg-color="#000"
            spinner-variant="light" />
    </div>
</template>

<style scoped>
    body {
        background: #2554FF !important;
        min-height: 100vh;
        display: flex;
        font-weight: 400;
    }

</style>

<script>
    import store from '../store'
    import axios from 'axios'
    export default {
        data() {
            return {
                busy: false,
                model: {
                    email: "",
                    password: ""
                },
                errors: []
            }
        },
        created() {
            console.log(this.$store)
        },
        methods: {
            onSubmit() {
                this.busy = true
                this.errors = []
                axios.post(`${this.$root.$apiURL}auth/login`, {
                    email: this.model.email,
                    password: this.model.password
                }).then(res => {
                    if (res.data) {
                        localStorage.setItem('token', res.data.data.access_token)
                        this.$store.commit({
                            type: 'setUser',
                            logged: true,
                            info: { name: res.data.data.user_data.name, email: res.data.data.user_data.email }
                        })
                        this.$router.push({ name: 'home' })
                    } else {
                        this.$swal('Ocurrio un error desconocido.')
                    }
                    this.busy = false
                }).catch(res => {
                    let response = JSON.parse(res.request.response)
                    if (response.errors) {
                        this.errors = response.errors
                    } else {
                        this.$swal('Error desconocido')
                    }
                    this.busy = false
                })
            },
            onReset() {

            }
        }
    }

</script>
