<template>
    <header>
        <b-navbar fixed="top" type="dark" variant="dark">
            <b-navbar-brand :to="{ name: 'home' }" class="float-left">
                Movies
                <b-button v-b-toggle.sidebar-variant class="d-inline d-sm-none">
                    <font-awesome-icon icon="bars" />
                </b-button>
            </b-navbar-brand>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="user-navbar">
                <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template v-slot:button-content>
                        <font-awesome-icon icon="user" /> {{ $store.getters.getUser.info.name }}
                    </template>
                    <b-dropdown-item @click.stop="$root.$logout()">Cerrar sesión</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-navbar>
        <b-sidebar v-model="sidebarVisible" id="sidebar-variant" sidebar-class="sidebar-principal" title="Sidebar"
            bg-variant="dark" text-variant="light" no-header no-close-on-route-change no-close-on-backdrop
            no-close-on-esc no-header-close>
            <div>
                <b-list-group>
                    <b-list-group-item variant="dark" class="rounded-0" :to="{ name: 'home' }">Dashboard</b-list-group-item>
                    <b-list-group-item variant="dark" class="rounded-0" :to="{ name: 'movies' }">Películas</b-list-group-item>
                    <b-list-group-item variant="dark" class="rounded-0" :to="{ name: 'turnos' }">Turnos</b-list-group-item>
                    <b-list-group-item variant="dark" class="rounded-0" :to="{ name: 'administradores' }">Administradores</b-list-group-item>
                    <b-list-group-item variant="dark" class="rounded-0" href="#" @click.stop="$root.$logout()">Cerrar sesión</b-list-group-item>
                </b-list-group>
            </div>
        </b-sidebar>
    </header>
</template>

<script>
    import { isMobileOnly } from 'mobile-device-detect'
    export default {
        name: 'Header',
        data() {
            return {
                sidebarVisible: !isMobileOnly
            }
        }
    }

</script>
