<template>
    <div>
        <b-modal
            id="ModalUser"
            centered
            no-close-on-backdrop
            no-close-on-esc
            :title="!editMode ? 'Agregar administrador' : 'Editar administrador'"
            @hide="clearModel"
            :hide-footer="true"
        >
            <b-form @submit.prevent="submit">
                <b-alert :show="errorGeneralStatus" variant="danger">{{ errorGeneral }}</b-alert>
                <b-form-group>
                    <label>Nombre</label>
                    <b-form-input placeholder="Nombre" :disabled="busy" :state="errorNombreStatus" v-model="model.name" trim required />
                    <b-form-invalid-feedback :state="errorNombreStatus">
                        {{ errorNombre }}
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group>
                    <label>Email</label>
                    <b-form-input type="email" placeholder="Email" :disabled="busy" :state="errorEmailStatus" v-model="model.email" trim required />
                    <b-form-invalid-feedback :state="errorEmailStatus">
                        {{ errorEmail }}
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group>
                    <label>Contraseña</label>
                    <b-form-input type="password" placeholder="Contraseña" :disabled="busy" :state="errorPasswordStatus" v-model="model.password" trim :required="!editMode" />
                    <b-form-invalid-feedback :state="errorPasswordStatus">
                        {{ errorPassword }}
                    </b-form-invalid-feedback>
                </b-form-group>
                <div class="text-right">
                    <b-button type="submit" :disabled="busy" variant="dark">{{ !editMode ? 'Agregar' : 'Editar' }}</b-button>
                </div>
            </b-form>
        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'ModalUser',
        data() {
            return {
                busy: false,
                editMode: false,
                model: {
                    id: 0,
                    name: '',
                    email: '',
                    password: ''
                },
                errors: [],
            }
        },
        computed: {
            errorGeneralStatus() {
                return this.errors && this.errors.general ? true : false
            },
            errorGeneral() {
                return this.errors && this.errors.general ? this.errors.general : ''
            },
            errorNombreStatus() {
                return this.errors && this.errors.name ? false : null
            },
            errorNombre() {
                return this.errors && this.errors.name ? this.errors.name[0] : ''
            },
            errorEmailStatus() {
                return this.errors && this.errors.email ? false : null
            },
            errorEmail() {
                return this.errors && this.errors.email ? this.errors.email[0] : ''
            },
            errorPasswordStatus() {
                return this.errors && this.errors.password ? false : null
            },
            errorPassword() {
                return this.errors && this.errors.password ? this.errors.password[0] : ''
            }
        },
        created() {
            this.$bus.$on('openModalUser', (row) => {
                if (Object.keys(row).length > 0) {
                    this.editMode = true
                    Object.entries(row).forEach((entry) => {
                        const [key, value] = entry
                        if (key !== 'imagen' && typeof this.model[key] !== 'undefined') {
                            this.model[key] = value
                        }
                    })
                }
                this.$bvModal.show("ModalUser")
            })
        },
        methods: {
            clearModel() {
                this.editMode = false
                this.model = {
                    id: 0,
                    name: '',
                    email: '',
                    password: ''
                };
                this.errors = []
            },
            prepareModel() {
                let model = new FormData()
                Object.entries(this.model).forEach((entry) => {
                    const [key, value] = entry
                    // console.log(key, value)
                    model.append(key, value)
                })
                return model
            },
            submit() {
                this.busy = true
                this.errors = []
                const model = this.prepareModel()
                const instance = (this.editMode) ? axios.put(`${this.$root.$apiURL}users/update/${this.model.id}`, model, {
                    headers: { Authorization: `Bearer ${localStorage.getItem('token')}` }
                }) : axios.post(`${this.$root.$apiURL}users/store`, model, {
                    headers: { Authorization: `Bearer ${localStorage.getItem('token')}` }
                })
                instance.then(res => {
                    if (res.data) {
                        this.$root.$toast('success', !this.editMode ? 'Administrador agregada!' : 'Administrador editado!', 'top-end')
                        this.$bvModal.hide("ModalUser")
                        this.$bus.$emit('loadAdministradores')
                    } else {
                        this.$swal('Ocurrio un error desconocido.')
                    }
                }).catch(res => {
                    if (!res.response.data.errors) {
                        this.$swal('Error desconocido')
                    } else {
                        this.errors = res.response.data.errors
                        console.log('errores', this.errors)
                    }
                }).finally(() => {
                    this.busy = false
                })
            }
        }
    }

</script>
