<template>
    <div>
        <b-modal id="ModalHorarios" centered no-close-on-backdrop no-close-on-esc
            :title="`${model.movie_title} Horarios`" @show="loadHorarios" @hide="clearModel" size="lg" :hide-footer="true">

            <b-form @submit.prevent="submit">
                <b-alert :show="errorGeneralStatus" variant="danger" class="mb-2">{{ errorGeneral }}</b-alert>
                <b-alert :show="errorIdStatus" variant="danger" class="mb-2">{{ errorId }}</b-alert>
                <b-row>
                    <b-col>
                        <b-overlay :show="busy" rounded opacity="0.8" bg-color="#000" spinner-variant="light">
                            <b-card bg-variant="dark" header="Horarios disponibles" text-variant="white"
                                class="text-center">
                                <b-card-text>
                                    <draggable v-model="model.list1" class="list-group" :sort="false" group="horarios">
                                        <div class="list-group-item text-dark font-weight-bold"
                                            v-for="(element) in model.list1" :key="element.id">
                                            {{ element.horario }}
                                        </div>
                                    </draggable>
                                </b-card-text>
                            </b-card>
                        </b-overlay>
                    </b-col>
                    <b-col>
                        <b-overlay :show="busy" rounded opacity="0.8" bg-color="#000" spinner-variant="light">
                            <b-card bg-variant="dark" header="Horarios asignados" text-variant="white"
                                class="text-center">
                                <b-card-text>
                                    <draggable v-model="model.list2" class="list-group" :sort="false" group="horarios">
                                        <div class="list-group-item text-dark font-weight-bold"
                                            v-for="(element) in model.list2" :key="element.id">
                                            {{ element.horario }}
                                        </div>
                                    </draggable>
                                </b-card-text>
                            </b-card>
                            <b-alert :show="errorHorarioStatus" variant="danger" class="mt-2">{{ errorHorario }}</b-alert>
                        </b-overlay>
                    </b-col>
                </b-row>
                <div class="text-right mt-3">
                    <b-button type="submit" :disabled="busy" variant="dark">Asignar</b-button>
                </div>
            </b-form>

        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios'
    import draggable from 'vuedraggable'

    export default {
        name: 'ModalHorarios',
        components: {
            draggable
        },
        data() {
            return {
                busy: true,
                model: {
                    movie_id: 0,
                    movie_title: "",
                    list1: [],
                    list2: []
                },
                errors: [],
            }
        },
        computed: {
            errorGeneralStatus() {
                return this.errors && this.errors.general ? true : false
            },
            errorGeneral() {
                return this.errors && this.errors.general ? this.errors.general : ''
            },
            errorIdStatus() {
                return this.errors && this.errors.movie_id ? true : false
            },
            errorId() {
                return this.errors && this.errors.movie_id ? this.errors.movie_id[0] : ''
            },
            errorHorarioStatus() {
                return this.errors && this.errors.horario ? true : false
            },
            errorHorario() {
                return this.errors && this.errors.horario ? this.errors.horario[0] : ''
            }
        },
        created() {
            this.$bus.$on('openModalHorarios', (row) => {
                console.log('open', row)
                this.model.movie_id = row.id
                this.model.movie_title = row.nombre
                setTimeout(() => {
                    this.$bvModal.show("ModalHorarios")
                }, 300)
            })
        },
        methods: {
            clearModel() {
                this.model = {
                    movie_id: 0,
                    movie_title: "",
                    list1: [],
                    list2: []
                };
                this.errors = []
            },
            prepareModel() {
                let model = new FormData()
                model.append('movie_id', this.model.movie_id)
                this.model.list2.forEach((item) => {
                    model.append('horario[]', item.id)
                })
                return model
            },
            loadHorarios() {
                axios.get(`${this.$root.$apiURL}movies/horarios/get/${this.model.movie_id}`, {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('token')}`
                    }
                }).then(res => {
                    if (res.data) {
                        this.model.list1 = res.data.data.horarios_disponibles
                        this.model.list2 = res.data.data.horarios_asignados
                    } else {
                        this.$swal('No pudimos obtener los horarios.')
                    }
                }).catch((res) => {
                    this.$swal(res.response.data.errors.general)
                }).finally(() => {
                    this.busy = false
                })
            },
            submit() {
                if (this.model.list2.length === 0) {
                    this.$swal('Selecciona por lo menos un horario.')
                    return;
                }
                this.busy = true
                this.errors = []
                const model = this.prepareModel()
                axios.post(`${this.$root.$apiURL}movies/horarios/store`, model, {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('token')}`
                    }
                }).then(res => {
                    if (res.data) {
                        this.$root.$toast('success', 'Horarios guardados!', 'top-end')
                        this.$bvModal.hide("ModalHorarios")
                    } else {
                        this.$swal('Ocurrio un error desconocido.')
                    }
                }).catch(res => {
                    if (!res.response.data.errors) {
                        this.$swal('Error desconocido')
                    } else {
                        this.errors = res.response.data.errors
                        console.log(this.errors)
                    }
                }).finally(() => {
                    this.busy = false
                })
            }
        }
    }

</script>
