<template>
    <div>
        <b-modal
            id="ModalTurno"
            centered
            no-close-on-backdrop
            no-close-on-esc
            :title="!editMode ? 'Agregar turno' : 'Editar turno'"
            @hide="clearModel"
            :hide-footer="true"
        >
            <b-form @submit.prevent="submit">
                <b-alert :show="errorGeneralStatus" variant="danger">{{ errorGeneral }}</b-alert>
                <b-form-group>
                    <label>Horario</label>
                    <b-form-timepicker v-model="model.horario" show-seconds placeholder="Selecciona el horario" :disabled="busy" :state="errorHorarioStatus" locale="es" required />
                    <b-form-invalid-feedback :state="errorHorarioStatus">
                        {{ errorHorario }}
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-checkbox v-model="model.activo" switch>
                    Activo
                </b-form-checkbox>
                <div class="text-right">
                    <b-button type="submit" :disabled="busy" variant="dark">{{ !editMode ? 'Agregar' : 'Editar' }}</b-button>
                </div>
            </b-form>
        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'ModalTurno',
        data() {
            return {
                busy: false,
                editMode: false,
                model: {
                    id: 0,
                    horario: '',
                    activo: false
                },
                errors: [],
            }
        },
        computed: {
            errorGeneralStatus() {
                return this.errors && this.errors.general ? true : false
            },
            errorGeneral() {
                return this.errors && this.errors.general ? this.errors.general : ''
            },
            errorHorarioStatus() {
                return this.errors && this.errors.horario ? false : null
            },
            errorHorario() {
                return this.errors && this.errors.horario ? this.errors.horario[0] : ''
            }
        },
        created() {
            this.$bus.$on('openModalTurno', (row) => {
                if (Object.keys(row).length > 0) {
                    this.editMode = true
                    Object.entries(row).forEach((entry) => {
                        const [key, value] = entry
                        if (typeof this.model[key] !== 'undefined') {
                            this.model[key] = value
                        }
                    })
                }
                this.$bvModal.show("ModalTurno")
            })
        },
        methods: {
            clearModel() {
                this.editMode = false
                this.model = {
                    id: 0,
                    horario: '',
                    activo: false
                };
                this.errors = []
            },
            prepareModel() {
                let model = new FormData()
                Object.entries(this.model).forEach((entry) => {
                    const [key, value] = entry
                    // console.log(key, value)
                    model.append(key, value)
                })
                return model
            },
            submit() {
                this.busy = true
                this.errors = []
                const model = this.prepareModel()
                const instance = (this.editMode) ? axios.put(`${this.$root.$apiURL}turnos/update/${this.model.id}`, model, {
                    headers: { Authorization: `Bearer ${localStorage.getItem('token')}` }
                }) : axios.post(`${this.$root.$apiURL}turnos/store`, model, {
                    headers: { Authorization: `Bearer ${localStorage.getItem('token')}` }
                })
                instance.then(res => {
                    if (res.data) {
                        this.$root.$toast('success', !this.editMode ? 'Turno agregado!' : 'Turno editado!', 'top-end')
                        this.$bvModal.hide("ModalTurno")
                        this.$bus.$emit('loadTurnos')
                    } else {
                        this.$swal('Ocurrio un error desconocido.')
                    }
                }).catch(res => {
                    if (!res.response.data.errors) {
                        this.$swal('Error desconocido')
                    } else {
                        this.errors = res.response.data.errors
                        console.log('errores', this.errors)
                    }
                }).finally(() => {
                    this.busy = false
                })
            }
        }
    }

</script>
